@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body, main {
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}

header {
    height:50px;
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content: center;
    align-items:center;
    background-color: transparent;
    position:fixed;
    margin-left:20%;
}

section.spacing{
    height:15px;
    background-color:#212121;
}

a.navlink1 {
    font-size:40px;
    text-decoration:none;
    color:white;
    margin:50px;
    font-family: 'Racing Sans One', cursive;
    transition: ease 1s;
    
}

a.navlink2 {
    font-size:28px;
    text-decoration:none;
    color:white;
    margin:25px;
    font-family: 'Alfa Slab One', cursive;
    transition: ease 1s;
    
}

a.navlink1:hover, a.navlink2:hover {
    text-shadow: 1px 0px 1px #424242, 0px 1px 1px #424242, 2px 1px 1px #424242, 1px 2px 1px #424242, 3px 2px 1px #424242, 2px 3px 1px #424242, 4px 3px 1px #424242, 3px 4px 1px #424242, 5px 4px 1px #424242, 4px 5px 1px #424242, 6px 5px 1px #424242, 5px 6px 1px #424242, 7px 6px 1px #424242;
}

section.accueil {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/background.gif");
    background-repeat: no-repeat;
    background-position-y:-200px;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size:72px;
    color:white;
    flex-grow:2;
    margin-left:15%;
    margin-top:15%;
    font-family: 'Racing Sans One', cursive;
    text-decoration:underline;
}

h2 {
    font-size:56px;
    color:white;
    margin-bottom:15%;
    margin-left:15%;
    font-family: 'Racing Sans One', cursive;
}

section#apropos {
    background-image: url("images/background2.jpg");
    background-position:contain;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;

    width:100vw;
}

h3 {
    text-align:center;
    font-size:40px;
    text-decoration:underline;
    color:#BDBDBD;
    font-family: 'Slabo 27px', serif;
}

section.container {
    background-color: rgba(25,25,25,0.8);
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin:40px;
    border-radius:3px;
}

section.apropos1 {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

section.inside1 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:30%;
    margin:20px;
}

img.profilpic {
    width:380px;
    height:380px;
    margin:20px;
}

section.inside2 {
    width:30%;
    border-right:1px solid black;
    border-left:1px solid black;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

section.inside3 {
    width:30%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

section.tabskills {
    background-color: rgba(200,200,200, 0.1);
    margin:10px;
    border-radius:5px;
    padding:10px;
}

span#underpic{
    text-align:center;
    color:#BDBDBD;
    font-size:28px;
    margin:20px;
    font-family: 'Slabo 27px', serif;
}

span.skills {
    text-align:center;
    text-decoration:underline;
    color:#BDBDBD;
    font-size:28px;
    font-family: 'Slabo 27px', serif;
    align-self:center;
}

p.profildesc {
    font-size:28px;
    color:#BDBDBD;
    text-align:center;
    margin:20px;
    font-family: 'Slabo 27px', serif;
}

ul {
    list-style-type:none;
}

#underline {
    text-decoration:underline;
}

li {
    font-size:24px;
    color:#BDBDBD;
    text-decoration:none;
    font-family: 'Slabo 27px', serif;
}

section#projets {
    background-image: url("images/background2.png");
    background-position:contain;
    background-position-y:-70px;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;

}

.git {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    text-align:center;
    width:120px;
    align-self:center;
    margin:20px;
    font-family: 'Slabo 27px', serif;
    font-size:18px;
}
.git:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.git:active {
	position:relative;
	top:1px;
}

hr {
    width:30Vh;
}

section#contacte{
    background-image: url("images/background3.jpg");
    background-position:contain;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100vw;
}

section.info {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:space-around;
}

section.form {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

form#form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:20vw;
    align-self:center;
    margin:50px;
    background-color: rgba(255, 255, 255, 0.1);
    padding:30px;
    border-radius:5px;
}

input {
    background-color:rgba(255, 255, 255, 0.1);
    height: 5vh;
    font-size:26px;
    border: 0px;
    border-bottom:1px solid white;
    font-family: 'Slabo 27px', serif;
}

input#mail {
    font-size:20px;
}

textarea {
    background-color:rgba(255, 255, 255, 0.1);
    height: 20vh;
    font-size:26px;
    border: 0px;
    border-bottom:1px solid white;
    font-family: 'Slabo 27px', serif;
}

label {
    font-size:36px;
    color:#BDBDBD;
    text-align:center;
    text-decoration:bold;
    font-family: 'Slabo 27px', serif;
    margin:5px;
}

h4 {
    font-size:46px;
    color:#BDBDBD;
    text-align:center;
    text-decoration:underline;
    font-family: 'Slabo 27px', serif;
}

span.infos {
    font-size:38px;
    text-align:center;
    color:#BDBDBD;
    font-family: 'Slabo 27px', serif;
}